@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

.timer-app-container {
    margin: 0 auto;
    width: 24em;
}

.single-event {
    padding: 10px;
    margin-top: 10px;
    
    
    background-color: #f8f8f8;
    border: 2px solid #ededed;
    border-radius: 10px;
}
.timer {
    display: block;
    margin: 0.4em 0;
}

h1 {
    
}
h4 {
    display: inline;
    margin: 0;
    padding-bottom: 10px;
}


.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.timer-app-button {
    height: 2em;
    min-width: 2em;
    border-radius: 0.4em;
    
    border: 1px solid #9d9b9b;
    color: #9d9b9b;
    background-color: transparent;
    outline: none;
}
.timer-app-button:hover {
    color: #000;
    border-color: #000;
    transition: .4s ease-out;
}

.delete-timer-button {
    margin-left: 0.8em;
    display: inline;
    border-color: #acacac;
    color: #acacac;
    font-size: 0.7em;   
}